html {
  box-sizing: border-box;
}

*,
*::before,
*::after {html {
  background-color: #f2f1ed;
  box-sizing: inherit;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "banner banner"
  "col1 col2"
  gap: 1rem;
}

img {
  width: 100%;
}

header {
  display: contents;
}

.logo {
  width: 1rem;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.pano {
  grid-area: banner;
}

nav {
grid-column: 2 / -1;
grid-row: 1;
}

nav ul {
  display: flex;

}

ul {
display: flex;
}

h2 {
  color: white;
  text-decoration: underline;
}

h2, p {
  display: block;
  grid-template-columns: 1fr, 1fr;
}
